<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.titouan.sockettests" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ServerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_server"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.titouan.sockettests.MainActivity" />
        </activity>
        <activity
            android:name=".ClientActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_client"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.titouan.sockettests.MainActivity" />
        </activity>
        <activity
            android:name=".MusicActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_music"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.titouan.sockettests.MainActivity" />
        </activity>
        <activity
            android:name=".MusicServerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_music_server"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.titouan.sockettests.MainActivity" />
        </activity>
        <activity
            android:name=".MusicClientActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_music_client"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.titouan.sockettests.MainActivity" />
        </activity>
        <activity
            android:name=".SendMusicServer"
            android:label="@string/title_activity_send_music_server" >
        </activity>
        <activity
            android:name=".SendMusicClient"
            android:label="@string/title_activity_send_music_client" >
        </activity>
    </application>

</manifest>
